<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-intervalo-heading" jhiTranslate="saturnoApp.intervalo.home.createOrEditLabel">Create or edit a Intervalo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!intervalo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="intervalo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.intervalo.fechaHoraDesde" for="field_fechaHoraDesde">Fecha Hora Desde</label>
                    <div class="d-flex">
                        <input id="field_fechaHoraDesde" type="datetime-local" class="form-control" name="fechaHoraDesde" [(ngModel)]="fechaHoraDesde"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.intervalo.duracion" for="field_duracion">Duracion</label>
                    <input type="number" class="form-control" name="duracion" id="field_duracion"
                        [(ngModel)]="intervalo.duracion" min="0" jhiMin="0" max="600" jhiMax="600"/>
                    <div [hidden]="!(editForm.controls.duracion?.dirty && editForm.controls.duracion?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.duracion?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.duracion?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 600 }">
                            This field cannot be more than 600.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.duracion?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.intervalo.dia" for="field_dia">Dia</label>
                    <select class="form-control" name="dia" [(ngModel)]="intervalo.dia" id="field_dia" >
                        <option value="LUNES">{{'saturnoApp.Dia.LUNES' | translate}}</option>
                        <option value="MARTES">{{'saturnoApp.Dia.MARTES' | translate}}</option>
                        <option value="MIERCOLES">{{'saturnoApp.Dia.MIERCOLES' | translate}}</option>
                        <option value="JUEVES">{{'saturnoApp.Dia.JUEVES' | translate}}</option>
                        <option value="VIERNES">{{'saturnoApp.Dia.VIERNES' | translate}}</option>
                        <option value="SABADO">{{'saturnoApp.Dia.SABADO' | translate}}</option>
                        <option value="DOMINGO">{{'saturnoApp.Dia.DOMINGO' | translate}}</option>
                        <option value="TODOS">{{'saturnoApp.Dia.TODOS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.intervalo.repite" for="field_repite">Repite</label>
                    <input type="checkbox" class="form-control" name="repite" id="field_repite"
                        [(ngModel)]="intervalo.repite" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
