<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="servicio">
            <h2><span jhiTranslate="saturnoApp.servicio.detail.title">Servicio</span> {{servicio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saturnoApp.servicio.nombre">Nombre</span></dt>
                <dd>
                    <span>{{servicio.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.servicio.codigo">Codigo</span></dt>
                <dd>
                    <span>{{servicio.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.servicio.kilometraje">Kilometraje</span></dt>
                <dd>
                    <span>{{servicio.kilometraje}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.servicio.duracion">Duracion</span></dt>
                <dd>
                    <span>{{servicio.duracion}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.servicio.precio">Precio</span></dt>
                <dd>
                    <span>{{servicio.precio}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.servicio.tipo">Tipo</span></dt>
                <dd>
                    <div *ngIf="servicio.tipoId">
                        <a [routerLink]="['/tipo-servicio', servicio.tipoId, 'view']">{{servicio.tipoCodigo}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="saturnoApp.servicio.tarea">Tarea</span></dt>
                <dd>
                    <span *ngFor="let tarea of servicio.tareas; let last = last">
                        <a [routerLink]="['/tarea', tarea?.id, 'view' ]">{{tarea.codigo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.servicio.plan">Plan</span></dt>
                <dd>
                    <div *ngIf="servicio.planId">
                        <a [routerLink]="['/plan-mantenimiento', servicio.planId, 'view']">{{servicio.planNombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/servicio', servicio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
