<div>
    <h2 id="page-heading">
        <span jhiTranslate="saturnoApp.servicio.home.title">Servicios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-servicio" [routerLink]="['/servicio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="saturnoApp.servicio.home.createLabel">
            Create new Servicio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="servicios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="saturnoApp.servicio.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="saturnoApp.servicio.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kilometraje"><span jhiTranslate="saturnoApp.servicio.kilometraje">Kilometraje</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="duracion"><span jhiTranslate="saturnoApp.servicio.duracion">Duracion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precio"><span jhiTranslate="saturnoApp.servicio.precio">Precio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoCodigo"><span jhiTranslate="saturnoApp.servicio.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planNombre"><span jhiTranslate="saturnoApp.servicio.plan">Plan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servicio of servicios ;trackBy: trackId">
                <td><a [routerLink]="['/servicio', servicio.id, 'view' ]">{{servicio.id}}</a></td>
                <td>{{servicio.nombre}}</td>
                <td>{{servicio.codigo}}</td>
                <td>{{servicio.kilometraje}}</td>
                <td>{{servicio.duracion}}</td>
                <td>{{servicio.precio}}</td>
                <td>
                    <div *ngIf="servicio.tipoId">
                        <a [routerLink]="['../tipo-servicio', servicio.tipoId , 'view' ]" >{{servicio.tipoCodigo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="servicio.planId">
                        <a [routerLink]="['../plan-mantenimiento', servicio.planId , 'view' ]" >{{servicio.planNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/servicio', servicio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/servicio', servicio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'servicio/'+ servicio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="servicios && servicios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
