<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="precioServicio">
            <h2><span jhiTranslate="saturnoApp.precioServicio.detail.title">Precio Servicio</span> {{precioServicio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saturnoApp.precioServicio.precio">Precio</span></dt>
                <dd>
                    <span>{{precioServicio.precio}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.precioServicio.modelo">Modelo</span></dt>
                <dd>
                    <div *ngIf="precioServicio.modeloId">
                        <a [routerLink]="['/modelo', precioServicio.modeloId, 'view']">{{precioServicio.modeloNombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="saturnoApp.precioServicio.servicio">Servicio</span></dt>
                <dd>
                    <div *ngIf="precioServicio.servicioId">
                        <a [routerLink]="['/servicio', precioServicio.servicioId, 'view']">{{precioServicio.servicioNombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/precio-servicio', precioServicio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
