<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" [activeIds]="activeIds" (panelChange)="beforeChange($event)">
    <ngb-panel id="toggle-1" title="Datos del turno" [disabled]="disable_toggle_1">
        <ng-template ngbPanelContent>
            <div class="row" style="width:1000px;">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead" jhiTranslate="solicitud.vehiculo">Vehicle data</p>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="form-control-label" jhiTranslate="solicitud.form.marca">Brand</label>
                            <select class="form-control" id="marca" name="marca" [(ngModel)]="solicitud.vehiculo.marca" (change)="refreshMarcas()" required>
                                <option *ngFor="let marca of marcas;let index = index">{{marca}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-control-label" jhiTranslate="solicitud.form.modelo">Model</label>
                            <select class="form-control" id="modelo" name="modelo" [(ngModel)]="solicitud.vehiculo.modelo" required>
                                <option *ngFor="let modelo of modelosByMarca">{{modelo.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-control-label" jhiTranslate="solicitud.form.anio">Year</label>
                            <select class="form-control" id="anio" name="anio" [(ngModel)]="solicitud.vehiculo.anio" required>
                                <option *ngFor="let number of numeros">{{number}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-control-label" jhiTranslate="solicitud.form.kilometraje">Mileage</label>
                            <input type="number" class="form-control" id="kilometraje" name="kilometraje" min="0" value="0"  [(ngModel)]="solicitud.vehiculo.kilometraje" required>
                            </input>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.servicios">Services</label>
                            <br>
                            <div class="btn-group btn-group-toggle" ngbRadioGroup id="adicionales" name="adicionales" [(ngModel)]="solicitud.tipo_servicio" (change)="refreshTipos()">
                                <label class="btn-primary" ngbButtonLabel *ngFor="let tipo_servicio of tiposDeServicios;let index = index">
                                    <input type="radio" ngbButton [value]="tipo_servicio"> {{tipo_servicio}}
                                </label>
                            </div>
                            <hr>
                            <label class="form-control-label" jhiTranslate="solicitud.form.adicionales">Additionals</label>
                            <br>
                            <div class="btn-group btn-group-toggle" id="adicionales" name="adicionales">
                                <label class="btn-primary" ngbButtonLabel *ngFor="let adicional of adicionales;let index = index">
                                    <input type="checkbox" ngbButton [(ngModel)]="solicitud.adicionales[index]" [valueChecked]="adicional" [valueUnChecked]="null"> {{adicional.nombre}}
                                </label>
                            </div>
                            <hr>
                            <label class="form-control-label" jhiTranslate="solicitud.form.detalle">Services detail</label>
                            <ul class="list-group">
                                <ng-template #popContent>
                                    <small *ngFor="let tarea of solicitud.servicio.tareas">
                                        <ul class="list-group">{{tarea}}</ul>
                                    </small>
                                </ng-template>
                                <ng-template #popTitle>
                                    <small>Tareas a realizar
                                    </small>
                                </ng-template>
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                [ngbPopover]="popContent" triggers="mouseenter:mouseleave" [popoverTitle]="popTitle" placement="bottom">
                                    <div class="col-md-10">
                                        {{solicitud.tipo_servicio}}
                                        <br>
                                        <select class="form-control" style="overflow: hidden" [(ngModel)]="solicitud.servicio" required>
                                            <option *ngFor="let servicio of serviciosByTipo;let index = index" [(ngValue)]="serviciosByTipo[index]">{{servicio.nombre}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="badge badge-primary badge-pill">{{solicitud.servicio.estimacion}} min.</span>
                                        <span class="badge badge-success badge-pill">$ {{solicitud.servicio.costo}}</span>
                                    </div>
                                </li>
                                <ng-container *ngFor="let adicional of solicitud.adicionales;let index = index">
                                    <li *ngIf="adicional" class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-md-10">
                                            {{adicional.nombre}}
                                        </div>
                                        <div class="col-md-2">
                                          <span class="badge badge-primary badge-pill">{{solicitud.adicionales[index].estimacion}} min.</span>
                                          <span class="badge badge-success badge-pill">$ {{solicitud.adicionales[index].costo}}</span>
                                        </div>
                                    </li>
                                </ng-container>
                                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="col-md-10">
                                        <label class="form-control-label font-weight-bold" jhiTranslate="solicitud.form.estimaciones">Estimated cost and delay:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="badge badge-primary badge-pill">{{solicitud.servicio.estimacion+solicitud?.adicionales[0]?.estimacion+solicitud?.adicionales[1]?.estimacion}} min.</span>
                                        <span class="badge badge-success badge-pill">$ {{solicitud.servicio.costo+solicitud?.adicionales[0]?.costo+solicitud?.adicionales[1]?.costo}}</span>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.fecha">Date</label>
                            <br>
                            <ngb-datepicker style="margin: auto" #dp [(ngModel)]="solicitud.fecha"
                            [minDate]="minDate" [maxDate]="maxDate" [displayMonths]="2" name="date"></ngb-datepicker>
                            <br>
                            <br>
                            <label class="form-control-label" jhiTranslate="solicitud.form.hora">Time</label>
                            <br>
                            <div class="btn-group btn-group-toggle" style="margin: auto" ngbRadioGroup id="hora" name="hora" [(ngModel)]="solicitud.horario">
                                <label class="btn-primary" ngbButtonLabel *ngFor="let horario of horarios;let index = index">
                                    <input type="radio" ngbButton [value]="horarios[index].hora" [(disabled)]="horarios[index].disabled"> {{horario.hora}}
                                </label>
                            </div>
                            <br>
                            <br>
                            <div class="btn-group btn-group-toggle" ngbRadioGroup *ngIf="solicitud.horario !== ''" id="hora" name="hora" [(ngModel)]="solicitud.horario2">
                                <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" ngbButton value="00"> {{solicitud.horario}}:00
                                </label>
                                <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" ngbButton value="15"> {{solicitud.horario}}:15
                                </label>
                                <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" ngbButton value="30"> {{solicitud.horario}}:30
                                </label>
                                <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" ngbButton value="45"> {{solicitud.horario}}:45
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group col-md-12">
                        <label class="form-control-label" jhiTranslate="solicitud.form.comentarios">Comments</label>
                        <textarea class="form-control" style="resize:none" id="comentarios" name="comentarios" rows="3" [(ngModel)]="solicitud.comentarios">
                        </textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="float: right" jhiTranslate="solicitud.form.siguiente" (click)="toggleAccordion2()">Next</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-2" title="Datos personales" [disabled]="disable_toggle_2">
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-control-label" jhiTranslate="solicitud.form.nombre">Name</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="solicitud.cliente.nombre" maxlength="20" required>
                            </input>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-control-label" jhiTranslate="solicitud.form.apellido">Last name</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="solicitud.cliente.apellido" maxlength="20" required>
                            </input>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-control-label" jhiTranslate="solicitud.form.patente">Licence plate</label>
                            <input type="text" class="form-control" id="patente" name="patente" [(ngModel)]="solicitud.vehiculo.patente" maxlength="7" required>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-control-label" jhiTranslate="solicitud.form.correo">Email</label>
                            <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="solicitud.cliente.email" maxlength="30" required>
                            </input>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-control-label" jhiTranslate="solicitud.form.telefono">Phone</label>
                            <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="solicitud.cliente.telefono" maxlength="10">
                            </input>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-control-label" jhiTranslate="solicitud.form.celular">Cellphone</label>
                            <input type="text" class="form-control" id="celular" name="celular" [(ngModel)]="solicitud.cliente.celular" maxlength="10">
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <button class="btn" style="float: left" jhiTranslate="solicitud.form.anterior" (click)="toggleAccordion1()">Previous</button>
                        </div>
                        <div class="form-group col-md-6" *ngIf="(solicitud.cliente.nombre !== '')&&(solicitud.cliente.apellido !== '')
                                                                &&(solicitud.vehiculo.patente !== '')&&(solicitud.cliente.email !== '')">
                            <button class="btn btn-primary" style="float: right" jhiTranslate="solicitud.form.siguiente" (click)="toggleAccordion3()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-3" title="Confirmar turno" [disabled]="disable_toggle_3">
        <ng-template ngbPanelContent>
            <div class="row" style="width:720px;">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.cliente">Client</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.cliente.nombre + ' ' + solicitud.cliente.apellido}}</small>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.correo">Email</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.cliente.email}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.telefono">Phone</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.cliente.telefono}}</small>
                        </div>
                    </div>
                    <div class="row" *ngIf="solicitud.cliente.celular !== ''">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.celular">Cellphone</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.cliente.celular}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.vehiculo">Vehicle</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.vehiculo.marca + ' ' + solicitud.vehiculo.modelo + ' ' + solicitud.vehiculo.anio}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.patente">Licence plate</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.vehiculo.patente}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.kilometraje">Mileage</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.vehiculo.kilometraje}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.servicios">Services</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.tipo_servicio + ' ' + solicitud.servicio.nombre}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.adicionales">Additionals</label>
                        </div>
                        <div class="col-md-6">
                            <ng-container *ngFor="let adicional of solicitud.adicionales">
                                <small *ngIf="adicional">{{adicional.nombre}}</small>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.fecha">Date</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.fecha.day}} / {{solicitud.fecha.month}} / {{solicitud.fecha.year}}</small>
                        </div>
                    </div>
                    <div class="row" *ngIf="solicitud.horario !== ''">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="solicitud.form.hora">Time</label>
                        </div>
                        <div class="col-md-6">
                            <small>{{solicitud.horario}}:{{solicitud.horario2}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label class="form-control-label" jhiTranslate="solicitud.form.estimaciones">Estimated cost and delay:</label>
                        </div>
                        <div class="col-md-3">
                            <span class="badge badge-primary badge-pill">{{solicitud.servicio.estimacion+solicitud?.adicionales[0]?.estimacion+solicitud?.adicionales[1]?.estimacion}} min.</span>
                            <span class="badge badge-success badge-pill">$ {{solicitud.servicio.costo+solicitud?.adicionales[0]?.costo+solicitud?.adicionales[1]?.costo}}</span>
                        </div>
                        <!-- Arreglar esta asquerosidad -->
                    </div>
                </div>
            </div>
            <div *ngIf="solicitud.comentarios !== ''" class="form-group offset-md-6 col-md-6">
                <label class="form-control-label" jhiTranslate="solicitud.form.comentarios">Comments</label>
                <br>
                <small>{{solicitud.comentarios}}</small>
            </div>
            <div class="row">
                <button class="btn btn-primary" style="margin: auto" jhiTranslate="solicitud.form.confirmar" (click)="save()">Confirm turn</button>
            </div>
            <div class="row col-md-12">
                <button class="btn" style="float: left" jhiTranslate="solicitud.form.anterior" (click)="toggleAccordion2()">Previous</button>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
