<div>
    <h2 id="page-heading">
        <span jhiTranslate="saturnoApp.horario.home.title">Horarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-horario" [routerLink]="['/horario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="saturnoApp.horario.home.createLabel">
            Create new Horario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="horarios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="saturnoApp.horario.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hora"><span jhiTranslate="saturnoApp.horario.hora">Hora</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="duracion"><span jhiTranslate="saturnoApp.horario.duracion">Duracion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dia"><span jhiTranslate="saturnoApp.horario.dia">Dia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horario of horarios ;trackBy: trackId">
                <td><a [routerLink]="['/horario', horario.id, 'view' ]">{{horario.id}}</a></td>
                <td>{{horario.descripcion}}</td>
                <td>{{horario.hora}}</td>
                <td>{{horario.duracion}}</td>
                <td jhiTranslate="{{'saturnoApp.Dia.' + horario.dia}}">{{horario.dia}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/horario', horario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/horario', horario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'horario/'+ horario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="horarios && horarios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
