<div>
    <h2 id="page-heading">
        <span jhiTranslate="saturnoApp.vehiculo.home.title">Vehiculos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehiculo" [routerLink]="['/vehiculo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="saturnoApp.vehiculo.home.createLabel">
            Create new Vehiculo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vehiculos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="patente"><span jhiTranslate="saturnoApp.vehiculo.patente">Patente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anio"><span jhiTranslate="saturnoApp.vehiculo.anio">Anio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kilometraje"><span jhiTranslate="saturnoApp.vehiculo.kilometraje">Kilometraje</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vin"><span jhiTranslate="saturnoApp.vehiculo.vin">Vin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="motor"><span jhiTranslate="saturnoApp.vehiculo.motor">Motor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modeloNombre"><span jhiTranslate="saturnoApp.vehiculo.modelo">Modelo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehiculo of vehiculos ;trackBy: trackId">
                <td><a [routerLink]="['/vehiculo', vehiculo.id, 'view' ]">{{vehiculo.id}}</a></td>
                <td>{{vehiculo.patente}}</td>
                <td>{{vehiculo.anio}}</td>
                <td>{{vehiculo.kilometraje}}</td>
                <td>{{vehiculo.vin}}</td>
                <td>{{vehiculo.motor}}</td>
                <td>
                    <div *ngIf="vehiculo.modeloId">
                        <a [routerLink]="['../modelo', vehiculo.modeloId , 'view' ]" >{{vehiculo.modeloNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vehiculo', vehiculo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vehiculo', vehiculo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehiculo/'+ vehiculo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="vehiculos && vehiculos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
