<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dia-no-laborable-heading" jhiTranslate="saturnoApp.diaNoLaborable.home.createOrEditLabel">Create or edit a Dia No Laborable</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!diaNoLaborable.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="diaNoLaborable.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.diaNoLaborable.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="diaNoLaborable.fecha"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.diaNoLaborable.dia" for="field_dia">Dia</label>
                    <select class="form-control" name="dia" [(ngModel)]="diaNoLaborable.dia" id="field_dia" >
                        <option value="LUNES">{{'saturnoApp.Dia.LUNES' | translate}}</option>
                        <option value="MARTES">{{'saturnoApp.Dia.MARTES' | translate}}</option>
                        <option value="MIERCOLES">{{'saturnoApp.Dia.MIERCOLES' | translate}}</option>
                        <option value="JUEVES">{{'saturnoApp.Dia.JUEVES' | translate}}</option>
                        <option value="VIERNES">{{'saturnoApp.Dia.VIERNES' | translate}}</option>
                        <option value="SABADO">{{'saturnoApp.Dia.SABADO' | translate}}</option>
                        <option value="DOMINGO">{{'saturnoApp.Dia.DOMINGO' | translate}}</option>
                        <option value="TODOS">{{'saturnoApp.Dia.TODOS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.diaNoLaborable.repite" for="field_repite">Repite</label>
                    <input type="checkbox" class="form-control" name="repite" id="field_repite"
                        [(ngModel)]="diaNoLaborable.repite" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
