<div>
    <h2 id="page-heading">
        <span jhiTranslate="saturnoApp.modelo.home.title">Modelos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-modelo" [routerLink]="['/modelo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="saturnoApp.modelo.home.createLabel">
            Create new Modelo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modelos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="saturnoApp.modelo.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="saturnoApp.modelo.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anioInicioProduccion"><span jhiTranslate="saturnoApp.modelo.anioInicioProduccion">Anio Inicio Produccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anioFinProduccion"><span jhiTranslate="saturnoApp.modelo.anioFinProduccion">Anio Fin Produccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marca"><span jhiTranslate="saturnoApp.modelo.marca">Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planNombre"><span jhiTranslate="saturnoApp.modelo.plan">Plan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let modelo of modelos ;trackBy: trackId">
                <td><a [routerLink]="['/modelo', modelo.id, 'view' ]">{{modelo.id}}</a></td>
                <td>{{modelo.codigo}}</td>
                <td>{{modelo.nombre}}</td>
                <td>{{modelo.anioInicioProduccion}}</td>
                <td>{{modelo.anioFinProduccion}}</td>
                <td jhiTranslate="{{'saturnoApp.Marca.' + modelo.marca}}">{{modelo.marca}}</td>
                <td>
                    <div *ngIf="modelo.planId">
                        <a [routerLink]="['../plan-mantenimiento', modelo.planId , 'view' ]" >{{modelo.planNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/modelo', modelo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/modelo', modelo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modelo/'+ modelo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="modelos && modelos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
