<div>
    <h2 id="page-heading">
        <span jhiTranslate="saturnoApp.horarioEspecial.home.title">Horario Especials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-horario-especial" [routerLink]="['/horario-especial/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="saturnoApp.horarioEspecial.home.createLabel">
            Create new Horario Especial
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="horarioEspecials">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="saturnoApp.horarioEspecial.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="horaDesde"><span jhiTranslate="saturnoApp.horarioEspecial.horaDesde">Hora Desde</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="horaHasta"><span jhiTranslate="saturnoApp.horarioEspecial.horaHasta">Hora Hasta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="saturnoApp.horarioEspecial.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horarioEspecial of horarioEspecials ;trackBy: trackId">
                <td><a [routerLink]="['/horario-especial', horarioEspecial.id, 'view' ]">{{horarioEspecial.id}}</a></td>
                <td>{{horarioEspecial.descripcion}}</td>
                <td>{{horarioEspecial.horaDesde}}</td>
                <td>{{horarioEspecial.horaHasta}}</td>
                <td>{{horarioEspecial.fecha | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/horario-especial', horarioEspecial.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/horario-especial', horarioEspecial.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'horario-especial/'+ horarioEspecial.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="horarioEspecials && horarioEspecials.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
