<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-horario-especial-heading" jhiTranslate="saturnoApp.horarioEspecial.home.createOrEditLabel">Create or edit a Horario Especial</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!-- <div class="form-group" [hidden]="!horarioEspecial.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="horarioEspecial.id" readonly />
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.horarioEspecial.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="horarioEspecial.descripcion" required/>
                    <div [hidden]="!(editForm.controls.descripcion?.dirty && editForm.controls.descripcion?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descripcion?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.horarioEspecial.horaDesde" for="field_horaDesde">Hora Desde</label>
                    <input type="number" class="form-control" name="horaDesde" id="field_horaDesde"
                        [(ngModel)]="horarioEspecial.horaDesde" required min="0" jhiMin="0" max="23" jhiMax="23"/>
                    <div [hidden]="!(editForm.controls.horaDesde?.dirty && editForm.controls.horaDesde?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.horaDesde?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.horaDesde?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.horaDesde?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 23 }">
                            This field cannot be more than 23.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.horaDesde?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.horarioEspecial.horaHasta" for="field_horaHasta">Hora Hasta</label>
                    <input type="number" class="form-control" name="horaHasta" id="field_horaHasta"
                        [(ngModel)]="horarioEspecial.horaHasta" required min="0" jhiMin="0" max="23" jhiMax="23"/>
                    <div [hidden]="!(editForm.controls.horaHasta?.dirty && editForm.controls.horaHasta?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.horaHasta?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.horaHasta?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.horaHasta?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 23 }">
                            This field cannot be more than 23.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.horaHasta?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saturnoApp.horarioEspecial.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="horarioEspecial.fecha"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fecha?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
