<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="horarioEspecial">
            <h2><span jhiTranslate="saturnoApp.horarioEspecial.detail.title">Horario Especial</span> {{horarioEspecial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saturnoApp.horarioEspecial.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{horarioEspecial.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.horarioEspecial.horaDesde">Hora Desde</span></dt>
                <dd>
                    <span>{{horarioEspecial.horaDesde}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.horarioEspecial.horaHasta">Hora Hasta</span></dt>
                <dd>
                    <span>{{horarioEspecial.horaHasta}}</span>
                </dd>
                <dt><span jhiTranslate="saturnoApp.horarioEspecial.fecha">Fecha</span></dt>
                <dd>
                    <span>{{horarioEspecial.fecha}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/horario-especial', horarioEspecial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
