.app-loading {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10em;
}
/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
    position: relative;
    top: 25px;
    left: 25px;
    height: 300px;
    width: 300px;
}

/* ---------- Saturno ---------- */
.saturno {
    font-size: 10px;
    position: relative;
    margin: auto;
    top: 6em;
    border: solid 1em white;
    width: 16em;
    height: 16em;
    border-radius: 50%;
    background: linear-gradient(0deg, transparent 90%, #3e8acc 90%) 0 95%, linear-gradient(0deg, transparent 90%, #3e8acc 90%) 100% 95%,
        linear-gradient(-45deg, #2d559f 50%, transparent 50%) 100% 0, linear-gradient(-45deg, transparent 50%, #2d559f 50%) 0 100%,
        radial-gradient(5em 5em at 50% 50%, #2d559f 49%, transparent 50%) 50% 50%,
        radial-gradient(7em 7em at 50% 50%, #3e8acc 49%, transparent 50%) 50% 50%, #2d559f;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    animation-name: spin;
    animation-duration: 1s;
}
@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 225px;
    height: 225px;
    border: 2px #3e8acc dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-circles {
    position: absolute;
    top: 25px;
    left: 17px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #4a437f;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 294px;
    border: 2px #3e8acc dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-circles {
    position: absolute;
    top: -17px;
    left: 125px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #00ffca;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
